{% extends 'base.html' %}
{% block zawartosc %}


    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">


                    <h3 id="form-title">CREATE NEW SHOOTING DAY</h3>
                </div>
                <div class="d-flex justify-content-center form_container m-1">
                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="input-group">
                            <div class="input-group-append">
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            {{ form.subproject }}
                        </div>
                        <div class="input-group mb-3">
                            {{ form.name }}
                        </div>
                        <div class="input-group mb-2">
                            {{ form.date }}
                        </div>
                        <h6 id="form-title">
                            {{ form.start_hour.label }}
                        </h6>
                        <div class="input-group mb-2" id="start_hour_div">
                            {{ form.start_hour }}
                        </div>
                        <div class="container d-flex justify-content-center m-0">
                            <div class="alert alert-danger p-1 m-1 px-3" role="alert" style="display:none;
                            font-family:'Quicksand'" id="toc_prompt">
                                Broken turnaround!!
                            </div>
                        </div>
                        <h6 id="form-title">
                            {{ form.end_hour.label }}
                        </h6>
                        <div class="input-group mb-2">
                            {{ form.end_hour }}
                        </div>
                        <div class="input-group mb-1">
                            {{ form.ot }}{{ form.camera_ot }}
                        </div>
                        <div class="container d-flex justify-content-center m-0">
                            <div class="alert alert-danger p-1 m-1 px-3" role="alert" style="display:none;
                            font-family:'Quicksand'" id="ot_prompt">
                                Long day - check O/T!!
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            {{ form.toc }}{{ form.extras }}
                        </div>
                        <div class="input-group mb-3">
                            {{ form.description }}
                        </div>
                        <input type="hidden" value="{{ working_hours }}" id="working_hours">
                        <div class="d-flex justify-content-center mt-2 login_container">
                            <input class="btn login_btn" style="color:#424242; font-family:'Quicksand';" type="submit"
                                   value="SUBMIT">
                        </div>
                    </form>


                </div>
                <div class="d-flex justify-content-center mt-2">
                    <a class="nav-item nav-link p-0" href="{% url 'shooting-days-view' pk=subproject.id %}">
                        <h6>BACK TO SHOOTING DAYS</h6>
                    </a>
                </div>
                {{ form.errors }}


            </div>
        </div>
    </div>


{% endblock %}
{% block javascript %}

 <script>
        $(document).ready(function () {
            // catch the form's submit event
            console.log('caught doc');
            $('#start_hour').blur(function () {
                // create an AJAX call
                console.log('caught!');
                let start_hour = this.value;
                let subproject = document.querySelector('#id_subproject').value;
                let toc_prompt = document.querySelector('#toc_prompt');
                console.log(start_hour);
                console.log(subproject);
                $.ajax({
                    data: {subproject, start_hour}, // get the form data
                    url: "{% url 'check_toc' %}",
                    // on success
                    success: function (response) {
                        if (response.is_broken == true) {
                            toc_prompt.style.display = "block";
                        } else {
                            toc_prompt.style.display = "none";

                        }

                    },
                    // on error
                    error: function (response) {
                        // alert the error if any error occured
                        console.log(response.responseJSON.errors)
                    }
                });

                return false;
            });
        })
    </script>

{% endblock %}