{% extends 'base.html' %}
{% block zawartosc %}

    <form action="" method="get">
        <div class="table-wrapper">
            <table class="fl-table">
                <thead>
                <tr>
                    <th class="priority-5"><h5>SEARCH BY:</h5></th>
                    {% for field in filter.form %}
                        <td class="priority-5"><h5>{{ field.label }} {{ field }}</h5></td>
                    {% endfor %}
                    <td class="priority-5">
                        <button type="submit" class="btn btn-outline-secondary" style="font-family:'Quicksand';">
                            Search
                        </button>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <a class="nav-item nav-link" href="{% url 'create_crew_member' pk=project.id %}">
                            <h5 class="mb-0">ADD CREW MEMBER</h5>
                        </a>
                    </td>
                </tr>
                </thead>
            </table>
        </div>
    </form>

    {% if object_list %}
        <div class="table-wrapper" style="max-height: 420px; width: auto;overflow-x: hidden; overflow-y: auto">
            <table class="fl-table">
                <thead class="sticky-top">
                <tr>
                    <td class="bg-light" colspan="5">
                        <h2>Crew members</h2>
                        <a class="nav-item nav-link p-0" href="{% url 'subprojects-view' pk=project.id %}">
                            <h6>BACK TO SUB-PROJECTS</h6>
                        </a>
                    </td>
                </tr>
                <tr>
                    <th><h2>Name:</h2></th>
                    <th><h2 style="color:white;">Surname</h2></th>
                    <th class="priority-4"><h2>Position</h2></th>
                    <th><h2 style="color:white;">Contact info:</h2></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for item in object_list %}
                    <tr>
                        <td><h4>{{ item.name }}</h4></td>
                        <td><h4>{{ item.surname }}</h4></td>
                        <td class="priority-4"><h5>{{ item.position }}</h5></td>
                        <td><h5>{{ item.contact_info }}</h5></td>
                        <td><a class="nav-item nav-link m-0 p-0" href="{{ item.get_update_url }}"><h6>UPDATE</h6></a>
                            <a class="nav-item nav-link m-0 p-0" href="{{ item.get_delete_url }}"><h6>DELETE</h6></a>
                        </td>
                    </tr>
                {% endfor %}

                <tbody>
            </table>
        </div>

    {% else %}
        <div class="table-wrapper">
            <div class="d-flex justify-content-center">
                <h1>No crew members found!</h1>
            </div>
            <div class="d-flex justify-content-center">
                <a class="nav-item nav-link p-0" href="{% url 'subprojects-view' pk=project.id %}">
                    <h6>BACK TO SUB-PROJECTS</h6></a>
            </div>
        </div>
    {% endif %}


{% endblock %}