{% extends 'base.html' %}
{% block zawartosc %}

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-center">
                    <div id="home1" class="bg-light p-2 rounded-3 shadow-lg px-xxl-5 mt-xl-5" style="--bs-bg-opacity: .7; display: none">
                        <div class="card-body text-center">
                            <h2 class="home card-title">Welcome fellow crew member!</h2>
                            <h2 class="home card-text">Let us make your life a little bit easier</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col">
                <div id="home2" class="d-flex justify-content-center" style="display: none">
                    {% if not user.is_authenticated %}
                        <a href="{% url 'login' %}">
                    {% else %}
                        <a href="{% url 'main-page' %}">
                    {% endif %}
                    <button type="button" class="btn-lg px-xxl-5 mt-xl-2 shadow-lg glow-on-hover">
                        START NOW
                    </button>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col">
                <div class="d-flex justify-content-center">
                    <div id="home3" class="bg-light p-2 rounded-3 shadow-lg px-xxl-5 mt-xl-2" style="--bs-bg-opacity: .7;display:none">
                        <div class="card-body text-center">
                            <h2 class="home card-title">One-of-a-kind work logging tool for Film Industry professionals</h2>

                            <h4 class="home card-text">
                                Hate to spend time figuring out overtime and 'time off the clock', especially after a
                                long day
                                on-set?</h4>
                            <h4 class="home card-text">No worries! We got you covered.</h4>
                            <h4 class="home card-text">Designed specifically for Film Crew members by (yes you guessed it)
                                Film Crew
                                members.</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
<script>
$(document).ready(function(){
    $("#home1").fadeIn(1500);
    $("#home2").fadeIn(1500);
    $("#home3").fadeIn(3000);
});
</script>
{% endblock %}