{% extends 'base.html' %}
{% block zawartosc %}

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-center">
                    <div class="bg-light p-2 rounded-3 shadow-lg px-xxl-5 mt-xl-5" style="--bs-bg-opacity: .7;">
                        <div class="card-body text-center">
                            <h1 class="card-title">Welcome fellow crew member!</h1>
                            <h3 class="card-text">Let us make your life a little bit easier</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col">
                <div class="d-flex justify-content-center">
                    {% if not user.is_authenticated %}
                        <a href="{% url 'login' %}">
                    {% else %}
                        <a href="{% url 'main-page' %}">
                    {% endif %}
                    <button type="button" class="btn-lg px-xxl-5 mt-xl-2 shadow-lg glow-on-hover">
                        START NOW
                    </button>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col">
                <div class="d-flex justify-content-center">
                    <div class="bg-light p-2 rounded-3 shadow-lg px-xxl-5 mt-xl-2" style="--bs-bg-opacity: .7;">
                        <div class="card-body text-center">
                            <h2 class="card-title">One-of-a-kind work logging tool for Film Industry professionals</h2>

                            <h5 class="card-text">
                                Hate to spend time figuring out overtime and 'time off the clock', especially after a
                                long day
                                on-set?</h5>
                            <h5 class="card-text">No worries! We got you covered.</h5>
                            <h5 class="card-text">Designed specifically for Film Crew members by (yes you guessed it)
                                Film Crew
                                members.</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}