{% extends 'base.html' %}
{% block zawartosc %}

    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="card-body text-center">
                    <p>
                    <h3 id="form-title">{{ object.subproject.parent }}</h3>
                    <p>
                    <h3>{{ object.subproject }}</h3>
                    <p>
                    <h4 id="form-title">Shooting day: {{ object.name }}</h4>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="card-body text-center">

                        <p><h5 class="card-text">Date: {{ object.date }}</h5>
                        <p><h5 class="card-text">Start time: {{ object.start_hour.time }}</h5>
                        <p><h5 class="card-text">End time: {{ object.end_hour.time }} </h5>
                        <p><h5 class="card-text">Overtime: {{ object.ot }} </h5>
                        <p><h5 class="card-text">Camera overtime: {{ object.camera_ot }} </h5>
                        <p><h5 class="card-text">TOC: {{ object.toc }} </h5>
                        <p><h5 class="card-text">Extras: {{ object.extras }} </h5>
                        <p><h5 class="card-text">Description: {{ object.description }} </h5>
                    </div>
                </div>


                <div class="d-flex justify-content-center mt-3">
                    <a class="nav-item nav-link p-0" href="{% url 'shooting-days-view' pk=object.subproject.id %}">
                        <h6>BACK TO {{ item_type }}S</h6>
                    </a>
                </div>
                {{ form.errors }}

            </div>
        </div>
    </div>


{% endblock %}