{% extends 'base.html' %}
{% block zawartosc %}

 <form action="" method="get">
    <div class="table-wrapper">
    <table class="fl-table">
        <thead>
            <tr>
                <th><h5 style="color:#424242; font-family:'Quicksand';">SEARCH BY:</h5></th>
                {% for field in filter.form %}
                    <td ><h5 style="color:#424242; font-family:'Quicksand';">{{ field.label }} {{ field }}</h5></td>
                {% endfor %}
                    <td><button type="submit" class="btn btn-outline-secondary">Search</button></td>
            </tr>
            <tr>
                <td colspan="5"><a class="nav-item nav-link" href="{% url 'create-shootingday-view' pk=subproject.id %}"><h5
                        style="color:#424242; font-family:'Quicksand';">ADD NEW SHOOTING DAY</h5></a></td>
            </tr>
        </thead>
    </table>
    </div>
 </form>

{% if object_list %}
    <div class="table-wrapper" style="max-height: 420px; width: auto;overflow-x: hidden; overflow-y: auto">
    <table class="fl-table">
        <thead class="sticky-top">
        <tr>
            <td colspan="9" >
                <h2 style="color:#424242; font-family:'Quicksand';">Project: {{ subproject.parent.name }} </h2>
                <h2 style="color:#424242; font-family:'Quicksand';"> Sub-project name: {{ subproject.name }}</h2>
                <a class="nav-item nav-link p-0" href="{{ subproject.parent.get_absolute_url }}">
                <h6 style="color:#424242; font-family:'Quicksand';">BACK TO SUB-PROJECTS</h6>
                </a>
            </td>
        </tr>
        <tr>
            <th><h2 style="color:#424242; font-family:'Quicksand';">Shooting day:</h2></th>
            <th><h2 style="color:white; font-family:'Quicksand';">Date:</h2></th>
            <th><h2 style="color:#424242; font-family:'Quicksand';">Start hour:</h2></th>
            <th><h2 style="color:white; font-family:'Quicksand';">End hour:</h2></th>
            <th><h2 style="color:#424242; font-family:'Quicksand';">OT:</h2></th>
            <th><h2 style="color:white; font-family:'Quicksand';">Camera OT:</h2></th>
            <th><h2 style="color:#424242; font-family:'Quicksand';">TOC:</h2></th>
            <th><h2 style="color:white; font-family:'Quicksand';">Extras:</h2></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for item in object_list %}
        <tr>
            <td><a class="nav-item nav-link" href="{{ item.get_absolute_url }}"><h4 style="color:#424242; font-family:'Quicksand';">{{item.name}}</h4></a></td>
            <td><h4 style="color:#424242; font-family:'Quicksand';">{{item.date}}</h4></td>
            <td><h5 style="color:#424242; font-family:'Quicksand';">{{ item.start_hour.time}}</h5></td>
            <td><h5 style="color:#424242; font-family:'Quicksand';">{{ item.end_hour.time}}</h5></td>
            <td><h5 style="color:#424242; font-family:'Quicksand';">{{ item.ot}}</h5></td>
            <td><h5 style="color:#424242; font-family:'Quicksand';">{{ item.camera_ot}}</h5></td>
            <td><h5 style="color:#424242; font-family:'Quicksand';">{{ item.toc}}</h5></td>
            <td><h5 style="color:#424242; font-family:'Quicksand';">{{ item.extras}}</h5></td>
            <td><a class="nav-item nav-link m-0 p-0" href="{{ item.get_update_url }}"><h6 style="color:#424242; font-family:'Quicksand';">UPDATE</h6></a>
            <a class="nav-item nav-link m-0 p-0" href="{{ item.get_delete_url }}"><h6 style="color:#424242; font-family:'Quicksand';">DELETE</h6></a>
            </td>
        </tr>
        {% endfor %}

        <tbody>
    </table>
</div>
{% else %}
    <div class="table-wrapper">
    <table class="fl-table">
    <thead>
    <tr>
        <td colspan="4" >
            <h2 style="color:#424242; font-family:'Quicksand';">Project: {{ subproject.parent.name }} </h2>
            <h2 style="color:#424242; font-family:'Quicksand';"> Sub-project name: {{ subproject.name }}</h2>
            <a class="nav-item nav-link p-0" href="{{ subproject.parent.get_absolute_url }}">
            <h6 style="color:#424242; font-family:'Quicksand';">BACK TO SUB-PROJECTS</h6>
            </a>
        </td>
    </tr>
    </thead>
    </table>
    </div>

    <div class="table-wrapper">
    <div class="d-flex justify-content-center">
    <h1 style="color:#424242; font-family:'Quicksand';">No shooting days found!</h1>
    </div>
    </div>
{% endif %}


{% endblock %}