{% extends 'base.html' %}
{% block zawartosc %}

{# <form action="" method="get">#}
{#    <div class="table-wrapper">#}
{#    <table class="fl-table">#}
{#        <thead>#}
{##}
{#                {% for field in form %}#}
{#                <tr><td><h4 style="color:#424242; font-family:'Quicksand';">{{ field.label }} {{ field }}</h4></td></tr>#}
{#                {% endfor %}#}
{##}
{##}
{##}
{#        </thead>#}
{#    </table>#}
{#    </div>#}
{# </form>#}

    	<style>
		.user_card {
			width: 550px;
			margin-top: auto;
			margin-bottom: auto;
			background: lightgrey;
			position: relative;
			display: flex;
			justify-content: center;
			flex-direction: column;
			padding: 10px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 5px;

		}

		.form_container {
			margin-top: 20px;
		}

		#form-title{
			color: #fff;

		}

		.login_btn {
			width: 100%;
			background: whitesmoke;
		}
		.login_btn:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}
		.login_container {
			padding: 0 2rem;
		}
		.input-group-text {
			background: #f7ba5b !important;
			color: white !important;
			border: 0 !important;
			border-radius: 0.25rem 0 0 0.25rem !important;
		}
		.input_user,
		.input_pass:focus {
			box-shadow: none !important;
			outline: 0px !important;
		}

		#messages{
			background-color: grey;
			color: #fff;
			padding: 10px;
			margin-top: 10px;
		}
	</style>

	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
                <div class="card-body text-center">
                    <p><h2 id="form-title" style="color:#424242; font-family:'Quicksand';">{{ object.parent }} - {{ object.name }}</h2>
                </div>
                <div class="d-flex justify-content-center">
                <div class="card-body text-center">

                <p><h4 class="card-text" style="color:#424242; font-family:'Quicksand';" >Position: {{ object.position }}</h4>
                <p><h4 class="card-text" style="color:#424242; font-family:'Quicksand';" >Description: {{ object.description }} </h4>
                <p><h4 class="card-text" style="color:#424242; font-family:'Quicksand';" >Terms:  </h4>
                   <p><h6 class="card-text" style="color:#424242; font-family:'Quicksand';" >Name: {{ object.terms.name }} </h6>
                   <p><h6 class="card-text" style="color:#424242; font-family:'Quicksand';" >Pay period: {{ object.terms.get_pay_period_display }} </h6>
                    <p><h6 class="card-text" style="color:#424242; font-family:'Quicksand';" >Base rate: {{ object.terms.base_rate}} </h6>
                    <p><h6 class="card-text" style="color:#424242; font-family:'Quicksand';" >Overtime rate: {{ object.terms.ot_rate}} </h6>
                    <p><h6 class="card-text" style="color:#424242; font-family:'Quicksand';" >Camera overtime rate: {{ object.terms.camera_ot_rate}} </h6>
                    <p><h6 class="card-text" style="color:#424242; font-family:'Quicksand';" >Extras: {{ object.terms.extras}} </h6>
                    <p><h4 class="card-text" style="color:#424242; font-family:'Quicksand';" >Crew Members:  </h4>
                    <p>{% for member in object.crew_members.all %}
                    <span class="card-text" style="color:#424242; font-family:'Quicksand';" > {{ member }},
                    {% endfor %}



                <div class="d-flex justify-content-center mt-4">
                 <a class="nav-item nav-link p-0" href="{% url 'subprojects-view' pk=object.parent.id %}">
                <h6 style="color:#424242; font-family:'Quicksand';">BACK TO {{ item_type }}S</h6>
                </a>
                </div>
                {{form.errors}}



			</div>
		</div>
	</div>


{% endblock %}