{% extends 'base.html' %}
{% block zawartosc %}


    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="card-body text-center p-0">
                    <h4 id="form-title">{{ object.parent }}</h4>
                    <h5>{{ object.name }}</h5>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="card-body text-center">
                        <h5 class="card-text">Position: {{ object.position }}</h5>
                        <p><h5 class="card-text">Description: {{ object.description }} </h5>
                        <p><h5 class="card-text">Terms: </h5>
                        <div class="d-flex justify-content-center">
                            <table class="table">
                                <tr>
                                    <td colspan="2"><h6 class="card-text">Name: {{ object.terms.name }} </h6></td>
                                </tr>
                                <tr>
                                    <td colspan="2"><h6 class="card-text">Pay
                                        period: {{ object.terms.get_pay_period_display }} </h6></td>
                                </tr>
                                <tr>
                                    <td><h6 class="card-text">Base rate: {{ object.terms.base_rate }} </h6></td>
                                    <td><h6 class="card-text">Overtime rate: {{ object.terms.ot_rate }} </h6></td>
                                </tr>
                                <tr>
                                    <td><h6 class="card-text">Camera overtime
                                        rate: {{ object.terms.camera_ot_rate }} </h6></td>
                                    <td><h6 class="card-text">Extras: {{ object.terms.extras }} </h6></td>
                                </tr>
                            </table>
                        </div>
                        <h5 class="card-text">Crew Members: </h5>
                        <p>
                        <h6>
                        <span class="card-text">
                        {% for member in object.crew_members.all %}
                            {{ member }},
                        {% endfor %}
                        </span>
                        </h6>


                        <div class="d-flex justify-content-center mt-4">
                            <a class="nav-item nav-link p-0" href="{% url 'subprojects-view' pk=object.parent.id %}">
                                <h6>BACK TO {{ item_type }}S</h6>
                            </a>
                        </div>
                        {{ form.errors }}


                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}