{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>FILM CREW HELPER</title>

</head>
<body>


<div class="sticky-top  bg-light">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid ">

            <a class="navbar-brand ms-5" href="{% url 'index-view' %}">
                <h1 class="display-3">
                    Film Crew Helper
                </h1>
            </a>


            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-5">
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="{% url 'index-view' %}"><span
                                style="color:#424242; font-family:'Quicksand';"
                                class="mb-0 h3">Home</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="{% url 'about-page' %}"><span
                                style="color:#424242; font-family:'Quicksand';"
                                class="mb-0 h3"> About</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="{% url 'contact-page' %}"><span
                                style="color:#424242; font-family:'Quicksand';" class="mb-0 h3"> Contact</span></a>
                    </li>
                    {% if not user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link text-uppercase" href="{% url 'login' %}"><span
                                    style="color:#424242; font-family:'Quicksand';"
                                    class="mb-0 h3"> Login </span></a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link text-uppercase" href="{% url 'edit_user' %}"><span
                                    style="color:#424242; font-family:'Quicksand';"
                                    class="mb-0 h3"> My Account</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-uppercase" href="{% url 'logout' %}"><span
                                    style="color:#424242; font-family:'Quicksand';"
                                    class="mb-0 h3"> Logout</span></a>
                        </li>
                    {% endif %}
                </ul>

            </div>
        </div>


    </nav>
</div>

<div
        class="bg"
        style="
    background-image: url('/static/images/background.png');
    padding-top: 8rem;
    {#padding-bottom: 6rem;#}
    color: #fff;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
  "
>
    {% block zawartosc %}


    {% endblock %}

</div>
<footer class="footer bg-light">
    <div class="container">
        <div class="row align-items-center">
            <div style="color:#424242; font-family:'Quicksand';" class="col-lg-4 text-lg-start">Copyright &copy; Mateusz
                Szcześniak
            </div>
            <div class="col-lg-4 my-3 my-lg-0">
                <a class="btn btn-dark btn-social mx-2" href="https://www.imdb.com/name/nm4522975/"><i
                        class="fab fa-imdb fa-2x"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/mateusz-szczesniak-743b8632/"><i
                        class="fab fa-linkedin-in fa-2x"></i></a>
            </div>
            <div class="col-lg-4 text-lg-end">
                <a style="color:#424242; font-family:'Quicksand';" class="link-dark text-decoration-none me-3"
                   href="#!">Privacy Policy</a>
                <a style="color:#424242; font-family:'Quicksand';" class="link-dark text-decoration-none" href="#!">Terms
                    of Use</a>
            </div>
        </div>
    </div>
</footer>

<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-3"></div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
<script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $("#create-project").modalForm({
            formURL: "{% url 'create_project_bs' %}"
        });

    });
</script>
<script type="text/javascript">
    $(document).ready(function () {

        $("#create-terms").modalForm({
            formURL: "{% url 'create_terms_bs' %}"
        });

    });
</script>
<script type="text/javascript">
    $(document).ready(function () {

        $("#create-crew-member").modalForm({
            formURL: "{% url 'create_crew_member_bs' %}",
            modalID: "#modal"
        });

    });
</script>
{% block javascript %}
{% endblock %}

<script src="/static/js/app.js" type="text/javascript"></script>

</body>

</html>